streamlit
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
langchain-openai
langchain-google-genai
faiss-cpu
sentence-transformers
langsmith
python-dotenv
pypdf
cryptography
